@model IEnumerable<DiplomadoMVC.Data.Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    <input class="form-control" id="input_search" name="search" type="text" placeholder="Busqueda..." />
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puntuacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formato.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table_body">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img alt="@item.Foto" width="100" src="/Images/@item.Foto" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntuacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formato.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>

</table>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#input_search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table_body tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

}


