@model DiplomadoMVC.Data.Pelicula

@{
    ViewBag.Title = "Details";
}

<div class="movie-details">
    <div class="generos-formatos">
        <span><i class="glyphicon glyphicon-film"></i> @Model.Genero.Nombre</span>
        <span><i class="glyphicon glyphicon-asterisk"></i> Año de estreno: @Model.Anio</span>
        <span><i class="glyphicon glyphicon-file"></i> Formato: @Model.Formato.Nombre</span>
        <span><i class="glyphicon glyphicon-star"></i> Puntuación @Model.Puntuacion/10</span>
        <span><i class="glyphicon glyphicon-usd"></i> Precio: RD$@Model.Precio /por día</span>
    </div>
    <p class="descripcion">@Model.Descripcion</p>
    <p class="sinopsis">@Model.Sinopsis</p>
</div>

